.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.user-card{
  width: 20rem;
  height: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-avatar{
  border-radius: 5.75rem;
  width: 80px;
  text-align: center;
}
html{
  scrollbar-width: thin;
  scrollbar-color: #282c34 #fff;
  scroll-behavior: smooth;
}

.loader{
  width: 150px;
  animation: rotate360 infinite 1.5s linear;
  height: 40vmin;
  pointer-events: none;
}


@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}